#login-submit-btn{
	
	margin : 30px 15px;
	padding: 10px 30px;
	
	border-radius: 15px;
	background-color: #f7d345;
	
	font-size : 15px;
	border: none;
    color: white;
   
    display: inline-block;
}

#user-register-btn{
	
	padding: 10px 30px;
	
	border-radius: 15px;
	background-color: lightgreen;
	
	font-size : 15px;
	border: none;
    color: white;
   
    display: inline-block;
}

#forget-user-btn{
	
	margin-top : 30px;
	padding: 10px ,5px;
	
	font-style : oblique;
	font-size : 12px;
	
	float: right;
}
