 body{
 	
	background-color:#a4f2c6;
} 

#form {
	
	margin: 150px auto;
    width: 300px;
    height: 250px;
        
    padding: 50px;
    
    text-align: center;
    border-radius: 15px;
    
	background-color: #ffffff;
	border: 2px solid #4CAF50;
}

#content{
	
    width: 90%;
    
    background-color: transparent; 
        
    }

#content input[type=text]{
	
    width: 90%;
    
    margin : 8px;
    padding: 5px;
        
    border : 0 solid #4CAF50;
    border-bottom-width: 1px;
    
    font-size : 15px;
}

select {
	margin-top: 10px;
    width: 90%;
    
    margin-left: 5%;
    margin-right: 5%;
	
	    
    width: 100%;
    height:25px;
    
    background-color: lightsalmon;
    font-weight: bold;
    color: white;
}

#submit {
	margin : 30px 15px;
	padding: 10px 30px;
    
    border-radius: 15px;
    background-color:lightgreen;
    
   	font-size : 15px;
   	
   	border: none;
    color: white;
}