<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/listContents.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/listContents.js"></script>
        <title>ListContent</title>
    </head>
    <body>
        <div id ="listContent_main">
            <ul>
            	<li data-th-each="item : ${item_list}">
            		<a data-th-text="${item.title}">HERO</a>
            		<input type="text" data-th-text="${item.title} + '/' + ${item.latestVersion}">
            	</li>
<!-- 
              <li>
                <a>HERO</a><br> <input type="text" value="2017.01.01 /v0.1">
              </li>
              <li>
                <a>Finger Knghtsbr</a><br>  <input type="text" value="2017.01.01 /v0.9">
              </li>
              <li>
                <a>Sudden Attack</a><br>  <input type="text" value="2017.01.01 /v1.0">
              </li>
              <li>
                <a>GTA5</a><br><input type="text" value="2017.01.01 /v1.2">
              </li>
 -->              
            </ul>              
        </div>
    </body>
</html>