<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/login.css"
<title>Login Page - Welcome to Apps management system</title>
</head>

<body>
	<div id="login-form"></div>
	
		<from method="post" id="login-content"></from>
			<div>
				<label for="user-id-input"></label> <input type="text" name="login"
					value="아이디(@이메일)" placeholder="Username or Email">
			</div>
			<div>
				<label for="user-pwd-input"></label>
				<input type="text" name="password" value="비밀번호" placeholder="Password">
				
	 		</div>

			<div>
				<button type="submit" id="login-summit-btn">로그인</button>
				<button type="submit" name="commit">회원가입</button>
			</div>

			<div>
				<span class="right-align" id="forget-user-info"> <a href="http://localhost/find_user_info.html">
					아이디/비밀번호 찾기</a>
				</span>
			</div>
	</body>
</html>