<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
<title>Login Page - Welcome to Apps management system</title>
</head>

<body>
	<div id="form">
		<form method="post" id="content">
			<div>
				 <input type="text" name="id"  placeholder="아이디 (@이메일)" id ="user-id-input">
			</div>
			
			<div>
			 	<input type="text" name="password" placeholder="비밀번호" id ="user-pwd-input">
			</div>

			<div>
				<button type="submit" id="login-submit-btn">로그인</button>
				<button type="submit" id="user-register-btn">회원가입</button>
			</div>

			<div>
				<span class="right-align" id="forget-user-btn"> <a href="./forgot_pwd.html">
					Forgot Password?</a>
					</span>
				</div>
			</form>
		</div>
	</body>
</html>