<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/signup.css">
        <title>signup page</title>
    </head>
    
    <body>
        <div id ="form">
            <form id = "content">
            	<div>
               		<input type="text" name="id" placeholder="아이디  (@이메일)">
               		<input type="text" name="password" placeholder="비밀번호">
               		<input type="text" name="password_confirm" placeholder="비밀번호 (재입력)">
               		<input type="text" name="name" placeholder="이름 (성명)">
            	</div>
             
            	<div>
                	<select name="team" >
                		<option value="Team1">TEAM 1</option>
                    	<option value="Team2">TEAM 2 </option>
                    	<option value="Team3">TEAM 3 </option>
                    	<option value="">직접 입력</option>
                	</select>
             	</div>
             
             	<div>
             		<button type="submit" id = "submit"> Submit </button>
              	</div>
           	</form>                               
        </div>
    </body>
</html>